<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aifacetest" >


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PortraitSegmentationImageActivity" />
        <activity android:name=".HandGestureDetectionImageActivity" />
        <activity android:name=".FaceDetectionImageActivity" />
        <activity
            android:name=".PortraitSegmentationActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".HandGestureDetectionActivity" />
        <activity
            android:name=".FaceDetectionActivity"
            android:label="@string/title_activity_face_detection" />
        <activity
            android:name=".VideoBaseActivity"
            android:label="@string/title_activity_video_base" />
    </application>

</manifest>